@media all and (max-width: 768px){
	.item{
		max-height: initial;
		max-width: initial;
		width: 95vw;
		height: calc(95vw / 16 * 9);
	}
	.img_link {
		margin: 5px 0;
	}
}
@media all and (min-width: 1200px){
	.img_link:hover{
		opacity: 1;
		transition: 0.4s ease-in;
		transform: scale(1.2) rotate(10deg);
		z-index: 10;
		box-shadow: 0 0 200px 30px rgba(0,0,150,0.7);
	}
}